In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

In [3]:
data = pd.read_fwf('adult.data')
data

,"39,","State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K"
0,"50,","Self-emp-not-inc, 83311, Bachelors, 13, Marrie..."
1,"38,","Private, 215646, HS-grad, 9, Divorced, Handler..."
2,"53,","Private, 234721, 11th, 7, Married-civ-spouse, ..."
3,"28,","Private, 338409, Bachelors, 13, Married-civ-sp..."
4,"37,","Private, 284582, Masters, 14, Married-civ-spou..."
...,...,...
32555,"27,","Private, 257302, Assoc-acdm, 12, Married-civ-s..."
32556,"40,","Private, 154374, HS-grad, 9, Married-civ-spous..."
32557,"58,","Private, 151910, HS-grad, 9, Widowed, Adm-cler..."
32558,"22,","Private, 201490, HS-grad, 9, Never-married, Ad..."
32559,"52,","Self-emp-inc, 287927, HS-grad, 9, Married-civ-..."

In [5]:
data.head().columns

Index(['39,', 'State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K'], dtype='object')