In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

In [2]:
data = pd.read_csv('marketing_campaign.csv')
data

     ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0     5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1     2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2     4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3     6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4     5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...
...                                                 ...
2235  10870\t1967\tGraduation\tMarried\t61223\t0\t1\...
2236  4001\t1946\tPhD\tTogether\t64014\t2\t1\t10-06-...
2237  7270\t1981\tGraduation\tDivorced\t56981\t0\t0\...
2238  8235\t1956\tMaster\tTogether\t69245\t0\t1\t24-...
2239  9405\t1954\tPhD\tMarried\t52869\t1\t1\t15-10-2...

[2240 rows x 1 columns]

In [5]:
X = data.iloc[ : , : ].values # you can select columns or rows by putting their indicies into a list,  X = data.iloc[ : , [3, 4] ].values

In [6]:
X

array([['5524\t1957\tGraduation\tSingle\t58138\t0\t0\t04-09-2012\t58\t635\t88\t546\t172\t88\t88\t3\t8\t10\t4\t7\t0\t0\t0\t0\t0\t0\t3\t11\t1'],
       ['2174\t1954\tGraduation\tSingle\t46344\t1\t1\t08-03-2014\t38\t11\t1\t6\t2\t1\t6\t2\t1\t1\t2\t5\t0\t0\t0\t0\t0\t0\t3\t11\t0'],
       ['4141\t1965\tGraduation\tTogether\t71613\t0\t0\t21-08-2013\t26\t426\t49\t127\t111\t21\t42\t1\t8\t2\t10\t4\t0\t0\t0\t0\t0\t0\t3\t11\t0'],
       ...,
       ['7270\t1981\tGraduation\tDivorced\t56981\t0\t0\t25-01-2014\t91\t908\t48\t217\t32\t12\t24\t1\t2\t3\t13\t6\t0\t1\t0\t0\t0\t0\t3\t11\t0'],
       ['8235\t1956\tMaster\tTogether\t69245\t0\t1\t24-01-2014\t8\t428\t30\t214\t80\t30\t61\t2\t6\t5\t10\t3\t0\t0\t0\t0\t0\t0\t3\t11\t0'],
       ['9405\t1954\tPhD\tMarried\t52869\t1\t1\t15-10-2012\t40\t84\t3\t61\t2\t1\t21\t3\t3\t1\t4\t7\t0\t0\t0\t0\t0\t0\t3\t11\t1']],
      dtype=object)